body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: xx-large;
    text-decoration: underline;
}

.container {
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.main-pic {
    border: 5px solid white;
    width: 100%;
}

footer {
    background-color: white;
    text-align: center;
}